@using CoreNET.Lib.Models.References
@using Portal.Components.Single

<div class="row ml-3 mt-3 mb-3">
    <div class="col-md-2">
        <ComMudMonth Filters="@Filters" OnFilterChangedHandler="@OnFilterChangedHandler"></ComMudMonth>
    </div>
    <div class="col-md-2">
        <ComMudSales Filters="@Filters" OnFilterChangedHandler="@OnFilterChangedHandler"></ComMudSales>
    </div>
    <div class="col-md-2">
        <ComMudRegion Filters="@Filters" OnFilterChangedHandler="@OnFilterChangedHandler"></ComMudRegion>
    </div>
    <div class="col-md-2">
        <ComMudChannels Filters="@Filters" OnFilterChangedHandler="@OnFilterChangedHandler"></ComMudChannels>
    </div>
    <div class="col-md-2">
        <ComMudProducts Filters="@Filters" OnFilterChangedHandler="@OnFilterChangedHandler"></ComMudProducts>
    </div>
    <div class="col-md-2">
        <div class="row mb-3">
            <div class="col">
                @*                     <button class="btn btn-secondary me-2" @onclick="ResetFilters">Reset</button>
                    <button class="btn btn-primary" @onclick="ExportChart">Export</button> *@
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public EventCallback<DashboardFilters>? OnFilterChangedHandler { get; set; }

    private DashboardFilters Filters = new();
    // Options
    List<string> months = new() { "January", "February", "March", "April", "May" };
    List<string> salesPersons = new() { "All", "Sales A", "Sales B", "Sales C" };
    List<string> regions = new() { "All", "West", "East", "Central" };
    List<string> channels = new() { "All", "Online", "Retail", "Partner" };
    List<string> products = new() { "All", "EV Charger A", "EV Charger B", "EV Adapter" };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    async Task OnFilterChanged(ChangeEventArgs? e)
    {
        await OnFilterChangedHandler?.InvokeAsync(Filters);
    }
}
